<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="with=device-width, inital-scale=1.0">
        <title>Boygenius</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        
        
    </head>
    <body>
        <header class="header">
            <a href="home.html" class="logo"><i class='bx bx-body'></i>boygenius</a>
            <!-- Nav-links -->
            <nav class="navbar">
                <a href="home.html" style="--1:1" class="active">Home</a>
                <a href="about.html" style="--1:2">About</a>
                <a href="contact.html" style="--1:6">Contact</a>
                <a href="profile.html" style="--1:7">Profile</a>
                <button class="btnLogin-popup" onclick="logout()">Log out</button>

            </nav>
        </header>
        

        <section class="introduction">
            <div class="overlay"></div>
            <div class="content">
                <h1>Welcome to Boygenius</h1>
                <p>A powerhouse indie supergroup crafting soul-stirring music that transcends individual brilliance.</p>
    
            </div>
        </section>
        <section class="paragraph">
            <div class="content">
                <p>Boygenius is a captivating indie supergroup formed by the dynamic trio of Julien Baker, Phoebe Bridgers, and Lucy Dacus. United by their individual prowess in the indie music scene, these talented artists bring forth a spellbinding fusion of evocative lyricism and soulful melodies. The self-titled EP, "boygenius," released in 2018, stands as a testament to their collective brilliance, offering listeners an emotional journey through raw, introspective narratives and intricate musical arrangements.</p>
                <p>Boygenius consists of three members:</p>
            </div>
        </section>

        <!--Members introductions-->

        <section class="about">
           <div class="main">
            <img src="images/about julien.jpg">
            <div class="about-text">
                
                <h5>Julien <span>Baker</span></h5>
                <p>Julien Baker, the acclaimed singer-songwriter hailing from Memphis, Tennessee, is a force to be reckoned with in the indie music landscape. Known for her poignant lyricism and hauntingly beautiful vocals, Baker crafts emotionally charged songs that explore themes of love, faith, and self-discovery. With a distinct ability to bare her soul through music, Julien Baker has garnered widespread acclaim for her solo work and collaborative projects, leaving an indelible mark on the contemporary indie scene.</p>
                <button id="learnMoreButton">Learn More</button>
            </div>
           </div> 
           <div class="main">
            <img src="images/about phoebe.jpg">
            <div class="about-text">
              
                <h5>Phoebe <span>Bridgers</span></h5>
                <p>Phoebe Bridgers, a singer-songwriter and guitarist hailing from Los Angeles, has garnered widespread acclaim for her introspective and hauntingly beautiful music. With her ethereal voice and poignant lyrics, Bridgers navigates themes of vulnerability, love, and self-discovery, creating a sonic landscape that resonates deeply with listeners. Her impressive talent has solidified her place in the indie folk and rock scenes, making her a captivating and influential figure in contemporary music.</p>
                <button id="learnMoreButton2">Learn More</button>
            </div>
           </div> 
           <div class="main">
            <img src="images/about lucy.jpg">
            <div class="about-text">
                
                <h5>Lucy <span>Dacus</span></h5>
                <p>
                    Lucy Dacus, a singer-songwriter hailing from Richmond, Virginia, has emerged as a notable force in the indie music scene. Her music, characterized by a seamless fusion of indie rock and folk elements, reflects a poignant exploration of personal experiences and universal themes. Dacus' rich, soulful voice and poignant lyricism have garnered her acclaim, establishing her as a compelling and introspective artist who continues to make a significant impact on the contemporary music landscape.</p>
                <button id="learnMoreButton3">Learn More</button>
            </div>
           </div> 
        </section>
       


        <footer>
        <div class="last-text">
            <p>Want to learn more? 
            Check out the <span><a href="https://www.xboygeniusx.com/"> Official Website of Boygenius</a></span>
            <br>
            Made for Tallinn French School's programming class of 2023 by Darja Vorobjova</p>
        </div>
        </footer>
    

<script>
        function logout() {
        
        window.location.href = "index.html";
        }

        document.getElementById('learnMoreButton').addEventListener('click', function() {
        window.location.href = 'https://julienbaker.com/';
    });
    document.getElementById('learnMoreButton2').addEventListener('click', function() {
        window.location.href = 'https://phoebefuckingbridgers.com/';
    });
    document.getElementById('learnMoreButton3').addEventListener('click', function() {
        window.location.href = 'https://lucydac.us/';
    });
        </script>


        

        
    </body>


</html>